<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.company.cs.mappers.CsMapper">
  <select id="findAllTermialModel" resultType="kr.co.company.cs.domain.CommonInfoType">
    SELECT TID_SEQ        AS SEQ,
           TID_MODEL_NAME AS NAME
    FROM TB_TERMINAL_MODEL
    ORDER BY TID_SEQ ASC
  </select>
  <select id="findAllRevision" resultType="kr.co.company.cs.domain.CommonInfoType">
    SELECT SEQ AS SEQ, NAME AS NAME, R_TYPE AS TYPE
    FROM TB_REVISION
    ORDER BY SEQ ASC
  </select>
  <select id="findAllError" resultType="kr.co.company.cs.domain.CommonInfoType">
    SELECT SEQ AS SEQ, NAME AS NAME, T_TYPE AS TYPE
    FROM TB_ERROR
    ORDER BY SEQ ASC
  </select>
  <select id="findAllCompany" resultType="kr.co.company.cs.domain.CommonInfoType">
    SELECT COMP_SEQ AS SEQ, COMP_NAME || '(' || BUSINESS_NO || ')' AS NAME
    FROM TB_COMPANY
    ORDER BY COMP_SEQ ASC
  </select>
  <select id="findAllCommonSettingsType" resultType="kr.co.company.cs.domain.CommonInfoType">
    SELECT *
    FROM (SELECT SEQ, T_TYPE AS TYPE, NAME AS NAME, CREATE_DATE AS CREATEDATE
    FROM TB_ERROR
    UNION
    SELECT VM_SEQ AS SEQ, 'VM' AS TYPE, VM_MODEL_NAME AS NAME, VM_REG_TIMESTAMP AS CREATEDATE
    FROM TB_VM_MODEL TVM
    UNION
    SELECT TID_SEQ AS SEQ, 'TERMINAL' AS TYPE, TID_MODEL_NAME AS NAME, TID_REGDATE AS CREATEDATE
    FROM TB_TERMINAL_MODEL TTM
    UNION
    SELECT SEQ, R_TYPE AS TYPE, NAME AS NAME, CREATE_DATE AS CREATEDATE
    FROM TB_REVISION TR
         ) A
         WHERE 1=1
    <if test="searchValue !=null">
      AND NAME LIKE '%' || #{searchValue} || '%'
    </if>
    ORDER BY TYPE DESC, NAME ASC
  </select>
  <insert id="createSetting" parameterType="kr.co.company.cs.domain.CommonInfoType">
    <if test='type == "VM"'>
      INSERT INTO TB_VM_MODEL (VM_SEQ, VM_MODEL_NAME)
      VALUES (NEXTVAL('TB_VM_MODEL_SEQ'), #{name})
    </if>
    <if test='type == "TERMINAL"'>
      INSERT INTO TB_TERMINAL_MODEL (TID_SEQ, TID_MODEL_NAME)
      VALUES (NEXTVAL('TB_TID_MODEL_SEQ'), #{name})
    </if>
    <if test='type == "MN" or type == "SB" or type == "IC"'>
      INSERT INTO TB_REVISION (SEQ, R_TYPE, NAME)
      VALUES (NEXTVAL('TB_REVISION_SEQ'), #{type}, #{name})
    </if>
    <if test='type == "T" or type == "R" or type == "A"'>
      INSERT INTO TB_ERROR (SEQ, T_TYPE, NAME)
      VALUES (NEXTVAL('TB_ERROR_SEQ'), #{type}, #{name})
    </if>
  </insert>
</mapper>
