<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.company.auth.mappers.AuthMapper">
  <select id="findByUserId" parameterType="string"
    resultType="boolean">
    SELECT CASE WHEN COUNT(*) = 1 THEN 1 ELSE 0 END
    FROM TB_USER
    WHERE USER_ID = #{userId}
  </select>
  <update id="save" parameterType="kr.co.company.auth.domain.Member">
    INSERT INTO TB_USER
    (COMPANY_SEQ,
     ORGAN_SEQ,
     AUTH_SEQ,
     ID,
     PASSWORD,
     NAME,
     PHONE,
     EMAIL)
    VALUES (#{companySeq},
            #{organSeq},
            #{authSeq},
            #{userId},
            #{userPass},
            #{userName},
            #{userPhone},
            #{userEmail})
  </update>
  <select id="findAllByMember" parameterType="string"
    resultType="kr.co.company.auth.domain.Member">
    SELECT USER_SEQ          AS SEQ,
           USER_ID           AS USERID,
           USER_PASSWORD     AS USERPASS,
           USER_NAME         AS USERNAME,
           USER_PHONE        AS USERPHONE,
           COMPANY_SEQ       AS COMPANYSEQ,
           USER_ORGANIZATION AS ORGANIZATION,
           USER_EMAIL        AS USEREMAIL,
           USER_LEVEL        AS USERLEVEL
    FROM TB_USER
    WHERE USER_ID = #{userId}
      AND USER_PASSWORD = #{userPass}
  </select>
  <insert id="createUser" parameterType="kr.co.company.auth.domain.Member">
    INSERT INTO TB_USER
    (USER_SEQ, COMPANY_SEQ, USER_ORGANIZATION, USER_ID, USER_PASSWORD, USER_NAME, USER_LEVEL,
    USER_PHONE, USER_EMAIL, REG_TIMESTAMP)
    VALUES (NEXTVAL('TB_USER_SEQ'),
    <choose>
      <when test='userLevel.equals("OP")'>
        nextval('TB_PARTNER_SEQ'),
      </when>
      <otherwise>
        #{companySeq},
      </otherwise>
    </choose>
    #{organization}, #{userId}, '1234', #{userName},
    #{userLevel}, #{userPhone}, #{userEmail}, CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
  </insert>
</mapper>
